.home_container {
    
   
    margin-bottom: 60px;
    margin-left: 10px;
    margin-right: 10px;
    position: fixed;         /* cố định vùng nội dung */
    top: 100px;               /* trừ phần navbar cao 60px */
    left: 250px;             /* trừ phần sidebar rộng 250px */
    right: 0;                /* chạm mép phải màn hình */
    bottom: 0;               /* chạm mép dưới màn hình */
    
    background-color: #f8f9fa; /* màu nền nhẹ */
    border: 3px solid #f76b8a;  /* viền xanh, rõ nét */
    border-radius: 4px;          /* bỏ bo góc nếu muốn full khung */
    padding: 20px;
    box-sizing: border-box;    /* để viền và padding không làm lệch kích thước */
    overflow: auto;      
    overflow-y: auto;      /* cuộn nếu nội dung dài */
}



.img_banner {
    border-radius: 4px;
    width: 150px;
    height: 150px;
}



.row_banner {
  display: flex;              /* biến hàng cha thành flex container */
      /* căn giữa theo chiều ngang (tùy chọn) */
  gap: 10px;                  /* khoảng cách giữa các box */
}

.card {
    height: 300px;
    width: auto;
}

.box_banner {
  background-color: #f76b8a;
  width: auto;
  height: auto;
  text-align: left;
  line-height: 100px;
  border: 1px solid #333;
  border-radius: 4px;
}

.border_full {
    margin-top: 3px;
    margin-bottom: 3px;
    width: 100%;
    height: 10px;
    border: 4px solid #66bfbf; 
    border-radius: 4px;
    background-color: #66bfbf; 
}

.size_text_banner {
    font-style: initial;
    font-size: 14px;
}


.discount_tag {
    color: red;
    font-weight: bold;
}