/* Sidebar cố định bên trái, full chiều cao */
#sidebarMenu {
     /* cách phần header một chút */
    position: fixed;        /* luôn đứng yên khi scroll */
    top: 0;                 /* bắt đầu từ đỉnh màn hình */
    left: 0;                /* dính sát bên trái */
    height: 80%;        /* chiếm toàn bộ chiều cao màn hình */
    overflow-y: auto;       /* nếu menu dài, scroll xuất hiện */
     overflow-x: visible; /* cho phép submenu tràn ra ngoài */
    background-color:#eaf6f6; ; /* nền sáng */
    padding: 1rem;          /* khoảng cách trong menu */
    border-right: 1px solid #cc93fe; /* viền phải */
    border-radius: 4px; /* bo góc */
    z-index: 1; 
    margin-left: 10px;
    margin-top: 100px;
}

/* Tiêu đề menu */
#sidebarMenu h5 {
    font-weight: 200;
}

/* Mục menu */
#sidebarMenu .nav-link {
    color: #212529;
    margin-bottom: 0.5rem;
    position: relative; /* để submenu định vị theo item cha */
}

#sidebarMenu .nav-link:hover {
    background-color: #2cea59;
    border-radius: 4px;
}

/* Icon trong menu */
#sidebarMenu .fa-solid {
    width: 1.2rem;
}

